/* The one and only (master) css file */
#nav {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
#nav a {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #ccc;
    text-decoration: none;
}
#nav a.active {
    background-color: #333;
}

#resultbox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.2em;

    height: 30%;
    overflow-y: scroll;
}
.related-topic {
    color: white;
}
.related-topic > a {
    display: block;
}

#calcbox {
    border: 1px solid black;
}

.center {
    text-align: center;
}
.big {
    font-size: 2em;
}
